/***********************************************
mystyle.css is override css style page html file
************************************************/

body{
	background-color:	#FAFAFA;
}

header{
	background-color:	#333333;
	border:				1px solid;
}

h1{
	margin-top:		55px;
	font-style:     normal;
	font-weight:    100;
	font-variant:   small-caps;
	font-family:    Helvetica ,sans-serif;
	text-align:     center;
	letter-spacing: -3px;
	/*color:        #727273;*/
	/*color:        #2795CC;*/
	color:          #2e78a6;
	margin-bottom:  0px;
}

.interactive-window{
	min-width       : 600px             ;
	margin-right    : 500px             ;
	margin-left     : 25px              ;
	margin-top      : 15px              ;
	border          : 7px double #EEEEEE;
	border-radius   : 0px               ;
	background-color: #FAFAFA           ;
	min-height      : 590px             ;
	overflow        : hidden            ;
}

.iw-wrap{
	margin         : 10px 10px 20px;
	padding        : 0px           ;
}

.table-wrap{
	margin         : 10px 25px 20px;
	padding        : 0px           ;
}

.hero-unit{
	margin:			 0px;
	margin-top:      15px;
	margin-right:    25px;
	margin-bottom:   10px;
	width:			 430px;
	min-width: 		 400px;
	border: 		 7px double #EEEEEE;
	border-radius: 	 0px;
	background-color:#FAFAFA;
	padding:         10px;
	float:           right;
}

.hero-unit-ins{
	margin:			 15px auto 10px;
	width:			 430px;
	min-width: 		 400px;
	border: 		 7px double #EEEEEE;
	border-radius: 	 0px;
	background-color:#FAFAFA;
	padding:         10px;
}

.menu-adds{
	padding        : 0px;
	margin         : 10px 15px 10px;
	list-style     : none;
	border         : 0px;
	text-align     : left;
	display        : block;
	text-decoration: none;
	letter-spacing : -1px;
}

.hr-labels{
	color        : #2E78A6;
	font-size    : 14pt;
	font-family  : Helvetica,sans-serif;
	cursor       : default;
}

.menu-adds > li{
	padding        : 0px;
	margin         : -5px;
	border 		   : 0px;
	line-height    : 25px;
}

.menu-adds > li > a{
	color      : #757575;
	font-style : inherit;
	font-size  : 12pt;
	font-weight: 500;
	font-family: Helvetica,sans-serif;
}

.menu-adds >li > a:hover{
	color         : #3EA2E0;
	font-size     : 13pt;
	letter-spacing: 1px;
}

.thumbnails{
	margin    : 0px;
	margin-top: 5px;
	padding   : 0px;
}

.thumbnails > li{
	margin-left  : 10px;
	margin-bottom: 10px;

}

.thumbnail{
	padding:         20px;
	padding-left:    15px;
	padding-right:   15px;
	text-align:      center;
	border-radius:   0px;
	background-color:#F5F5F7;
	width:           170px;
	color:           #2e78a6;
}

.hero-unit > hr{
	width     : 400px;
	margin-top: 7px;
}

.cleaner{
	clear  : both;
	padding: 0px;
	margin : 0px;
	border : 0px;
}

.table{
	margin          : 0px			   ;
	border          : 5px solid #D4D4D4;
	border-radius   : 0px              ;
	background-color: #FAFAFA          ;
	padding         : 0px              ;
	overflow        : auto             ;
	white-space     : nowrap           ;
	empty-cells     : hide             ;
}

.table thead th, .table tbody td,
.iw-table thead th, .iw-table tbody td{
	text-align     : center           ;
}

.iw-table{
	border         : 3px solid #D4D4D4;
	border-collapse: collapse 		  ;
	empty-cells    : hide             ;
	table-layout   : fixed            ;
	resize         : both             ;
	text-align     : center           ;
	vertical-align : top              ;
}

.pager{
	margin-bottom: 5px;
	margin-top:    0px;
}

.navbar-inverse > .navbar-inner, .navbar .btn-navbar{
	background: #2e78a6; /* Old browsers */
	background: -moz-linear-gradient(top, #2e78a6 9%, #275985 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#2e78a6), color-stop(50%,#275985)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2e78a6 9%,#275985 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2e78a6 9%,#275985 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2e78a6 9%,#275985 50%); /* IE10+ */
	background: linear-gradient(to bottom, #2e78a6 9%,#275985 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e78a6', endColorstr='#275985',GradientType=0 ); /* IE6-9 */
	border: 0px;
	border-bottom: 2px solid #204366;
	border-radius: 0px;
}

.navbar .divider-vertical{
	background-color: #2e78a6;
	border-right: 1px solid #2e78a6;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
	color: white;
	font-size: 12pt;
	border-radius: 10px;
	border-bottom: 1px solid white;
	padding-bottom: 2px;
	background-color: inherit;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: white;
	font-size: 12pt;
	border-radius: 10px;
	border-bottom: 1px solid white;
	padding-bottom: 2px;
}

.navbar .nav > li > a:hover {
	color: white;
	font-size: 12pt;
	border-radius: 0px;
	border-bottom: 1px solid white;
	padding-bottom: 2px;
}

.navbar .nav > li > a {
	color: white;
}


.navbar-inverse .brand{
	color:#FFFFFF;
	cursor: default;
}

.dropdown > .dropdown-toggle{
	font-size: 11pt;
}

.dropdown-menu > li{
	padding:15px;
	padding-bottom: 0px;
	margin: 0px;
}

.dropdown-menu > li > address > a{
	color: #999999;
}

.dropdown-menu > li > address > a:hover{
	color: #0088cc;
}

.short-line{
	width:90px;
	margin:5px;
	padding:0px;
	text-align:left;
}

hr{
	width:  80%;
	size:   20px;
	border: 1px solid #E5E5E5;
	margin: 20px auto 0px;
}

footer{
	text-align: center;
	color:		#6D6D6E;
}

